
<div class="container-fluid-one">

  <div class="row">

    <div id="idone" class="col-md-12">
      <h2>{{ArrayOne}}</h2><br>


    </div>

  </div>

</div>




<div class="container-fluid">

  <div class="row">
    <div class="col-md-4">
      <app-child [item]="ArrayTwo"></app-child>
      
    </div>

    
    <div  class="col-md-4">
      <button type="submit" class="btn1" (click)="AddFunc()">Insert++</button>
      <button type="submit" class="btn2" (click)="RemoveFunc()">Delete--</button>
    </div>


    <div  class="col-md-4">
      {{selectedName | json}}
    </div>

  </div>

</div>

