.container-fluid-one{
    text-align: center;
}

.container-fluid{
    margin-top: 20px;
}

.col-md-4{
    border: 1px solid;
}

.btn1{
    margin-top: 20px;
    margin-left: 45%;
}

.btn2{
    margin-top: 20px;
    margin-left: 45%;
    margin-bottom: 20px;
}
.btn11{
    margin-top: 10px;
}


